/* Propiedades Titulo*/
h1 {
    color: white;
    font-size: 28px;
    line-height : 20px;
  }
/* Propiedades Subtitulo*/
  h2 {
    color: white;
    font-size: 15px;
    line-height : 15px;
  }
/* Propiedades Parrafo*/
p {
    color: white;
    font-size: 12px;
  }
  header {
    margin-right: 50%;
    margin-left: -10%;
    margin-top: 1%;
    margin-bottom: 3%;
  }
  body {
    /* declarar en el body font family */
    font-family: Helvetica, sans-serif;
    background: linear-gradient(#b001ff, #00b0fd);
  /* Hereda el valor del elemento principal */
    background-position: inherit;
  /* Si fixed es especificado, la imagen de fondo estará fija en la pantalla y no se moverá con el bloque contenedor. */
    background-attachment: fixed;
    overflow: hidden;
    height: 100%;
    margin-right: 10%;
    margin-left: 20%;
    margin-top: 0%;
    margin-bottom: 2%;
  }
  input {
    width: 75%;
  }
  input[type="text"] {
    border: 2px solid white;
    border-radius: 15px;
    padding: 10px 3px;
    margin: 3px 0;
    background: transparent
  }
  ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
      color: white;
      opacity: 1; /* Firefox */
    }
    
    :-ms-input-placeholder { /* Internet Explorer 10-11 */
      color: white;
    }
    
    ::-ms-input-placeholder { /* Microsoft Edge */
      color: white;
    }
    main button {
      background: #B100FF;
      color: white;
      border-radius: 15px;
      padding: 10px 3px;
      margin: 3px 0;
      border-color: #0066A2;
      height: 40px;
      width: 130px;
      font-family: Helvetica, sans-serif;
      text-shadow: none;
      }
