.resolucion {
    width: 99%;
    text-align: center;
}
/**Movil**/

@media (max-width: 767px) {
    .desktop {
        display: none;
    }
    .tablet {
        display: none;
    }
}
/**Tablet**/
@media (min-width: 768px) and (max-width: 990px) {
    .desktop {
        display: none;
    }
    .movil {
        display: none;
    }
}
/**Escritorio**/
@media (min-width: 991px) {
    .tablet {
        display: none;
    }
    .movil {
        display: none;
    }
}
header {
  /* Margen top, right, bottom, left*/
  margin: 2% 2% 3% -15%;
}
input {
  width: 90%;
}
/* Propiedades Titulo*/
h1 {
  color: white;
  font-size: 38px;
  line-height: 60px;
}
/* Propiedades Subtitulo*/
h2 {
  color: white;
  font-size: 16px;
  line-height: 20px;
}
/* Propiedades Parrafo*/
p {
  color: white;
  font-size: 12px;
}
body {
  /* declarar en el body font family */
  font-family: Helvetica, sans-serif;
  background: linear-gradient(#b001ff, #00b0fd);
  /* Hereda el valor del elemento principal */
  background-position: inherit;
  /* Si fixed es especificado, la imagen de fondo estará fija en la pantalla y no se moverá con el bloque contenedor. */
  background-attachment: fixed;
  overflow: hidden;
  height: 50%;
  /* Margen top, right, bottom, left*/
  margin: 0% 10% 0% 20%;
}
input[type="text"] {
  border: 2px solid white;
  border-radius: 15px;
  margin: 3px 0;
  padding: 10px 20px;
  background: transparent;
}
::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: white;
  opacity: 1; /* Firefox */
}
:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: white;
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: white;
}
/* Estilo aplicado al botón guardar*/
main button {
  border-radius: 15px;
  padding: 10px 3px;
  margin: 3px 0;
  border-color: #0066a2;
  height: 40px;
  width: 130px;
  font-family: Helvetica, sans-serif;
  cursor: pointer;
  position: relative;
  text-align: center;
  font-weight: bold;
  overflow: hidden;
  transition: all ease 0.5s;
  background: #b100ff;
  color: white;
}
main button:after,
main button:before {
  width: 80px;
  height: 200px;
  content: "";
  display: block;
  background: rgba(255, 255, 255, 0.5);
  transform: rotate(45deg);
  top: -60px;
  position: absolute;
  transition: none;
  right: -45%;
  cursor: pointer;
}
main button:before {
  left: -48%;
}
main button:hover {
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
  background: #922b3e;
}
main button:hover:after,
main button:hover:before {
  transform: rotate(45deg), scaleX(130%);
  background: rgba(255, 255, 255, 0.1);
  transition: all ease 0.5s;
}
main button:hover:after {
  right: 130%;
}
main button:hover:before {
  left: 130%;
}
